section {
    background: var(--white);
    text-align: center;
}

div {
    background: var(--white);
    height: 250px;
    text-align: center;    
}

div > h1 {
    padding: 24px 0 36px 0;
    font-size: 48px;
}

div > p {
   width: 630px;
   margin-left: 22em;
   font-family: var(--font-main);
}

p {
    color: var(--green-text);
}

.container {
    display: flex;
    flex-direction: column; 
    background: red; 
    
}

.box__banner {
  justify-content: center;
  padding-top: 3em;
    
}

.container__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    gap: 1em;
    background: red;
}


li {
    padding: 0.5em;
}

