nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    width: 100%;
    padding: 0.9em;
    font-family: var(--font-main);
    flex-grow: 1;
}

.img {
    width: 12px;
    margin-left: 1em;
}

.box-1 {
    display: flex;
    font-family: var(--font-main);
    font-weight: 500;
    margin: 0 2em;
}

.box-2 {
    display: flex;    
    gap: 42px;
    width: 70%;
    margin: 0 5em;
    padding-right: 15em;
    color: var(--green-text);
    
}

.box-3 {
    display: flex;
    align-items: center;
    gap: 3em;
    margin-right: 3em;
}

.button_nav {    
    background: var(--red);
    border-radius: 10px;
    padding: 10px 18px;
    color: var(--white);
}

