@import url(navbar.css);
@import url(banner.css);
@import url(vacancies.css);
@import url(footer.css);

:root {
    --color-navbar:#3A404E;
    --white:#FFFFFF;
    --red:#8E2424;
    --green-text: #667085;
    --red: #8E2424;
    --gray: #EAECF0;

    --font-main: 'Inter', sans-serif;
}


body {
    font: 16px;    
    
}